<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Error</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <style>
    h1 {
      color: red;
    }
    main {
      flex-grow: 1;
      max-width: 1500px;
      margin: 20px ;
      padding: 20px;
      background: white;
      border-radius: 8px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }
  </style>
  <body>
    <main>
      <h1>Ooooops!☹️</h1>
      <p>I con't find page requested</p>
    </main>
  </body>
</html>
